/* Code tidied up by ScrapBook */
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media only screen and (max-width: 760px) {
}
@media (max-width: 800px) {
}
@media (max-width: 640px) {
}
@media (max-width: 640px) {
}
@font-face {
  font-family: "Noticons";
  src: url("Noticons.woff");
}
#jp-relatedposts { display: none; padding-top: 1em; margin: 1em 0px; position: relative; clear: both; }
.jp-relatedposts::after { content: ""; display: block; clear: both; }
#jp-relatedposts h3.jp-relatedposts-headline { margin: 0px 0px 1em; display: inline-block; float: left; font-size: 9pt; font-weight: 700; font-family: inherit; }
#jp-relatedposts h3.jp-relatedposts-headline em::before { content: ""; display: block; width: 100%; min-width: 30px; border-top: 1px solid rgba(0, 0, 0, 0.2); margin-bottom: 1em; }
#jp-relatedposts h3.jp-relatedposts-headline em { font-style: normal; font-weight: 700; }
#jp-relatedposts .jp-relatedposts-items { clear: left; }
#jp-relatedposts .jp-relatedposts-items-visual { margin-right: -20px; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post { float: left; width: 33%; margin: 0px 0px 1em; box-sizing: border-box; }
#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post { padding-right: 20px; opacity: 0.8; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:nth-child(3n+4), #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post:nth-child(3n+4) { clear: both; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a { text-decoration: underline; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover { opacity: 1; }
#jp-relatedposts .jp-relatedposts-items p, #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title { font-size: 14px; line-height: 20px; margin: 0px; }
#jp-relatedposts .jp-relatedposts-items p { margin-bottom: 0px; }
#jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title { text-transform: none; margin: 0px; font-family: inherit; display: block; max-width: 100%; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a { font-size: inherit; font-weight: 400; text-decoration: none; opacity: 1; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:hover { text-decoration: underline; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post img.jp-relatedposts-post-img, #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span { display: block; max-width: 90%; overflow: hidden; text-overflow: ellipsis; }
#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img, #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post span { max-width: 100%; }
#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context, #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date { opacity: 0.6; }
.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date { display: none; }
#jp-relatedposts .jp-relatedposts-items-visual div.jp-relatedposts-post-thumbs p.jp-relatedposts-post-excerpt { display: none; }
@media only screen and (max-width: 640px) {
  #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post { width: 50%; }
  #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:nth-child(3n) { clear: left; }
  #jp-relatedposts .jp-relatedposts-items-visual { margin-right: 20px; }
}
@media only screen and (max-width: 320px) {
  #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post { width: 100%; clear: both; margin: 0px 0px 1em; }
}
@media not all {
}
@media not all {
}
@media not all {
}
@-moz-document url-prefix("") {
  .sd-social-icon .sd-content ul li a.share-more { top: 2px; }
}
@media not all {
}
@media not all, not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
@media (max-width: 600px) {
}
@media screen and (min-width: 400px) {
}
